:root {
  --orange: #EC994B;
  --black: #222224;
  --white: #F9F9F9;
  --gray: #B5B5B5;
  --gray-dark: #7A7A7A;

  --font-primary: 'Montserrat';
}

$orange: var(--orange);
$black: var(--black);
$white: var(--white);
$gray: var(--gray);
$gray-dark: var(--gray-dark);

$font-primary: var(--font-primary);

$transition: 0.3s ease-in-out;