:root {
  --black: #111111;
  --dark-gray: #444444;
  --gray: #D9D9D9;
  --light: #F6F6F6;
  --white: #FFFFFF;
  --light-blue: #F2FDFF;
}

$black: var(--black);
$dark-gray: var(--dark-gray);
$gray: var(--gray);
$light: var(--light);
$white: var(--white);
$light-blue: var(--light-blue);

$text-primary: $black;
$text-secondary: $dark-gray;

$bg-primary: $light-blue;
$bg-secondary: $white;
$bg-tertiary: $light;

$font-primary: 'Plus Jakarta Sans';
$font-secondary: 'Manrope';

$font-size-base-lg: 18px;
$font-size-base: 12px;

$header-padding-y: 24px;
$header-padding-y-lg: 32px;
$header-inner-height: 32px;
$header-inner-height-lg: 40px;
$header-nav-spacing-sm: 5px;
$header-nav-spacing-md: 20px;
$header-nav-spacing-lg: calc(2*$header-nav-spacing-md);

$transition: 0.3s ease-in-out;