:root {
  --orange: #EC994B;
  --black: #222224;
  --white: #F9F9F9;
  --gray: #B5B5B5;
  --gray-dark: #7A7A7A;

  --primary: var(--orange);

  --font-primary: 'Montserrat';
}
$primary: var(--orange);
$orange: var(--orange);
$black: var(--black);
$white: var(--white);
$gray: var(--gray);
$gray-dark: var(--gray-dark);

$bg-primary: #F5F5F5;

$font-primary: var(--font-primary);

$text-size-base: 20px;
$text-size-sm: 16px;
$text-size-xs: 14px;
$text-size-xxs: 12px;


$title-font-primary: $font-primary;
$title-font-weight: 700;
$title-line-height: 120%;
$title-letter-spacing: 0.01em;
$title-color: $black;
$title-size-xlg: 64px;
$title-size-lg: 48px;
$title-size-base: 36px;
$title-size-sm: 32px;
$title-size-xs: 24px;
$title-size-xxs: 20px;

$header-py: 55px;
$header-height: calc(2* $header-py + 50px);

$transition: 0.3s ease-in-out;