.header-nav {
  &__list {
    @include flex-space-between();
  }

  &__link {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */
    letter-spacing: 0.01em;

    color: $black;

    @include hover-effect();
  }
}