.home-reviews {
  $home-reviews-item-size: 70px;

  width: max-content;

  display: grid;
  align-items: center;
  grid-template-columns: calc(2*$home-reviews-item-size) max-content;
  grid-template-areas:
          "items title"
          "items grade";

  column-gap: 30px;
  row-gap: 6px;

  &__items {
    grid-area: items;
    width: calc(3*$home-reviews-item-size);

    display: flex;
  }

  &__item {
    width: $home-reviews-item-size;
    height: $home-reviews-item-size;

    &:nth-child(2) {
      transform: translateX(-50%);
    }
    &:nth-child(3) {
      transform: translateX(-2*50%);
    }
  }

  &__title {
    grid-area: title;
    align-self: end;

    font-family: $font-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    letter-spacing: 0.01em;

    color: $black;
  }

  &__grade {
    grid-area: grade;
    align-self: start;

    display: flex;
    align-items: center;

    img {
      margin-right: 4px;
    }

    p {
      font-family: $font-primary;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 120%;
      /* identical to box height, or 12px */
      letter-spacing: 0.01em;

      color: $gray;

      span {
        color: $black;
        font-size: 14px;
      }
    }
  }
}