.m-comments__container {
  position: relative;
}

.m-comments__item {
  position: relative;


  &-content {
    width: 400px !important;
    @include circle(400px);
    margin: 0 auto;
    margin-bottom: 80px;

    background-repeat: no-repeat;
  }
}

.m-comments__item-prev {
  @include absolute-top-left(16%, 10%);
  z-index: 5;

  cursor: pointer;
  width: 160px !important;
  @include circle(160px);

  background-repeat: no-repeat;

  @include box-hover-effect;

  span {
    @include absolute-center;
    transform: translate(-50%, -50%) rotate(-30deg);
    width: max-content;

    @include text($font-weight: 600);
    color: $white;
  }

}

.m-comments__item-next {
  @include absolute-top-left(84%, 90%);
  transform: translate(-100%, -100%);
  z-index: 5;

  cursor: pointer;
  width: 112px !important;
  @include circle(112px);

  background-repeat: no-repeat;

  @include box-hover-effect;

  span {
    @include absolute-center;
    transform: translate(-50%, -50%) rotate(30deg);
    width: max-content;

    @include text($font-weight: 600, $font-size: 12px);
    color: $white;
  }

}

.m-comments__item-decor {
  @include flex-center;

  & > * {
    margin-right: 10px;
  }

  &-photo {
    @include circle(150px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-info {
    width: 380px;
    padding: 18px 20px;
    background: white;
    box-shadow: 0px 4px 23px rgba(19, 31, 53, 0.05);
    border-radius: 16px;
  }

  &-name {
    @include title($font-weight: 600, $font-size: 20px);
    margin-bottom: 4px;
  }

  &-subname {
    @include text($font-size: 12px);
    color: $gray;

    margin-bottom: 8px;
  }

  &-text {
    @include text($font-weight: 400, $font-size: 14px);
    color: $gray-dark;
  }

  &_before {
    flex-direction: row-reverse;
    @include absolute-center-x(100%);
    transform: translate(-115%, -150%);
  }

  &_after {
    @include absolute-center-x();
    transform: translateX(15%);
  }
}

.m-comments__controls {
  @include flex-center;
  @include gap(15px);
  width: max-content;
  margin: 0 auto;
}

.m-comments__button-prev, .m-comments__button-next {
  @include flex-center;
  height: 40px;
  border-radius: 50%;
  background: $white;
  aspect-ratio: 1/1;
  cursor: pointer;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.m-comments__button-next {
  transform: rotate(-180deg);
}

.m-comments__pagination {
  @include flex-center;

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;


    background: #E8E8E8;
  }

  .swiper-pagination-bullet-active {
    background: $orange;
  }
}