.m-testimonials__container {
  @include flex-space-between();
}

.m-testimonials__img {
  max-height: 635px;
}

.m-testimonials__header {
  align-items: flex-start;
  margin-bottom: 25px;
}

.m-testimonials__item {
  @include column-gap(24px);
  &-header {
    display: flex;
    align-items: center;

    @include row-gap(8px);
  }

  &-name {
    margin-bottom: 10px;
  }
}