.main {
}

.main__item {
  &:first-child {
    margin-top: $header-height;
  }

  margin-bottom: 100px;


  &:last-child {
    margin-bottom: 0;
  }
}

.main__header {
  @include flex-center-column;

  margin-bottom: 80px;

  &>*:not(:last-child) {
    margin-bottom: 16px;
  }

  &_left {
    align-items: flex-start;
  }
}

.main__title {
  @include title();

  // Font Sizes
  &_xxsmall {
    font-size: $title-size-xxs;
  }

  &_xsmall {
    font-size: $title-size-xs;
  }

  &_small {
    font-size: $title-size-sm;
  }

  &_large {
    font-size: $title-size-lg;
  }

  &_xlarge {
    font-size: $title-size-xl;
  }

  // Font Weights
  &_weight-sm {
    font-weight: $title-font-weight-sm;
  }

  // Colors
  &_orange {
    color: $orange;
  }

  &_white {
    color: $white;
  }

  &_gray {
    color: $gray;
  }

  &_gray-dark {
    color: $gray-dark;
  }
}

.main__text {
  @include text();

  //Font Sizes
  &_xxsmall {
    font-size: $text-size-xxs;
  }

  &_xsmall {
    font-size: $text-size-xs;
  }

  &_small {
    font-size: $text-size-sm;
  }

  //Colors
  &_orange {
    color: $orange;
  }

  &_white {
    color: $white;
  }

  &_black {
    color: $black;
  }

  &_gray {
    color: $gray;
  }

  //Font Weights
  &_weight-lg {
    font-weight: 600;
  }

  &_weight-sm {
    font-weight: 400;
  }
}

.main__grade {
  display: flex;
  @include row-gap(4px);

  &-star {
    @include quadrate(18px);
    background: url("../images/icon/star.svg") no-repeat center;
  }
}

.main__swiper-controls {
  @include flex-center;
  @include row-gap(15px);
  width: max-content;
  margin: 0 auto;
}

.main__swiper-button-prev, .main__swiper-button-next {
  @include flex-center;
  height: 40px;
  border-radius: 50%;
  background: $white;
  aspect-ratio: 1/1;
  cursor: pointer;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.main__swiper-button-next {
  transform: rotate(-180deg);
}

.main__swiper-pagination {
  @include flex-center;

  & > .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background: #E8E8E8;
  }

  & > .swiper-pagination-bullet-active {
    background: $orange;
  }
}