.text {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  letter-spacing: 0.01em;

  color: $gray-dark;

  &_xsmall {
    font-size: 14px;
  }

  &_small {
    font-size: 16px;
  }

  &_large {

  }

  &_regular {
    font-weight: 400;
  }

  &_orange {
    color: $orange;
  }
}