.title {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  /* or 77px */
  letter-spacing: 0.01em;

  color: $black;

  &_large {
    font-size: 48px;
  }

  &_xlarge {
    font-size: 64px;
  }

  &_white {
    color: $white;
  }
}